/*
	Name: Dylan Mackey
	Date: 11/30/2020
	Assignment: Great Race
	Filename: style.css
*/

/* General Styles */
body
{
	background-image: url("theTrack.png");
    background-size: auto;
    font-family: 'Racing Sans One', cursive;
}
#flag
{
    position: relative;
    left: 1120px;
    z-index: -1;
}

/* Runner Styles */
#r2
{
    display: block;
    position: relative;
    top: -9em;
}
#r1
{
    position: relative;
    top: -3em;
}

/* Win Loss Styles */
#standings
{
    display: flex;
    float: right;
    height: 20em;
}
#win
{
    display: flex;
    flex-direction: column;
    align-items: center;
}